<!-- <footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Be brave enough to suck at something new</span>
  </div>
</footer> -->

<div class="my-footer footer-padding">
  <span class="text-muted">Be brave enough to suck at something new</span>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>
