<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Citāti un anotācijas</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Pragati+Narrow|Roboto:100i,400&display=swap" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark navbar-blue" style="margin:24px 0;">
    <a class="navbar-brand" href="/">Citātu krātuve</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navb">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">Kāpēc?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/random">Nejaušs citāts</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search" method="post">
        <input class="form-control mr-sm-2" name="searchTerm" type="text" placeholder="(vārds vai frāze)">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit" name="publish">Meklēt</button>
      </form>
    </div>
  </nav>
