<%- include("partials/header.ejs")-%>

  <div class="container quote lone-quote justify-content-center">
Šī ir lapa, kurā es esmu apkopojis sev svarīgos domugraudus, izvilkumus
un interesantus faktus no izlasītajām e-grāmatām. Līdz ar to tas nav
  citātu apkopojums katram dzīves gadījumam, bet man izveidots rīks
  atmiņas atsvaidzināšanai. Iespējams, tev šī lapa var
  kalpot par iedvesmu kādu no šīm grāmatām izlasīt. Vai nelasīt :)
  </div>

<%- include("partials/footer.ejs")-%>
