<%- include("partials/header.ejs")-%>

<h1 ><%= annots[0].author + " — "+ annots[0].title%></h1>
<%annots.forEach((annot, i) => {%>
  <div class="container quote  justify-content-center">
  <%=annot.annotation;%>
  </div>
<%});%>


<%- include("partials/footer.ejs")-%>
