<%- include("partials/header.ejs")-%>

<%books.forEach((book, i) => {%>
  <%let headText = book.author + " - " + book.title;%>

  <div class="d-flex justify-content-center">
  <a href="<%="/book/"+(i+1)%>" class="book-title"><%=headText%></a>
  </div>

<%});%>


<%- include("partials/footer.ejs")-%>
