<%- include("partials/header.ejs")-%>

  <div class="container quote lone-quote justify-content-center">
  <%=quote[0].annotation;%>
  <br/>
  <div class="quote-em"><%=quote[0].author + " — " + quote[0].title;%></div>
  </div>

<%- include("partials/footer.ejs")-%>
