<%- include("partials/header.ejs")-%>

<h3>Rezultāti vaicājumam "<%=searchTerm%>"</h3>

<%annots.forEach((annot, i) => {%>
<div class="container quote justify-content-center">

  <%=annot.annotation;%>
  <br />
  <div class="quote-em"><%=annot.author + " — " + annot.title;%></div>

</div>
<%});%>

<%- include("partials/footer.ejs")-%>
