body {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 80px;
}

@media screen and (max-width: 601px) {
  body, .navbar {
    font-size: 2rem;
  }
}

h1, h3 {
  margin-bottom: 1.2rem;
  padding-left: 30px;
  text-align:center;
}

.book-title {
  /* display: inline-block; */
  padding: 15px;
  border: 2px solid #aaa;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 15px;
  /* box-shadow: 2px 2px 0 #aaa; */
  color: #50677e;
  border-color: #ccc;
}

.book-title:strong {
  color: #0b4495;
  text-decoration: underline;
}


.footer-padding {
	padding-bottom: 20px;
  padding-top: 10px;
}

/* .footer {
  position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #30475e;
  box-shadow: 0 50vh 0 50vh #30475e;
} */

.my-footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #30475e;
   color: white;
   text-align: center;
}

.footer p {
	margin-top: 35px;
	font-size: 12px;
  color: #fff;
}

.form-control:focus{
    border-color: #588da8;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.lone-quote {
  font-size: 2rem;
}

.navbar-blue {
  color: #40bad5;
  background-color: #30475e;
}

.quote{
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 1.2rem;
  background-color: #eeeeee;
  margin-bottom: 10px;
  padding: 5px 30px;
}

.quote-em{
  font-style:italic;
  text-align: right;
}
